<div class="page-layout carded right-sidebar tabbed">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24">

            <div fxLayout="row" fxLayoutAlign="start start">
                <h2 class="m-0">Configuremos tu tienda</h2>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div>

                <mat-tab-group mat-stretch-tabs #tabGroup>

                    <mat-tab label="Tienda">
                        <div class="tab-content p-24">                               
                                <div>
                                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                        <mat-label>Nombre de la Tienda</mat-label>
                                        <input matInput name="nombretienda" required [(ngModel)]="configure.empresa_nombre">
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error>El nombre de la tienda es requerido</mat-error>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <mat-form-field appearance="outline" fxFlex="50">
                                        <mat-label>¿Cuentas con un negocio?</mat-label>
                                        <mat-select required [(ngModel)]="configure.empresa_cuenegoc">
                                            <mat-option [value]="1">
                                                SI
                                            </mat-option>
                                            <mat-option [value]="2">
                                                NO
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                        <mat-error>Campo requerido!</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="50">
                                        <mat-label>Sector económico</mat-label>
                                        <mat-select required [(ngModel)]="configure.fk_cate_industria">
                                            <mat-option [value]="item.pk_cate_industria" *ngFor="let item of listaCategoriaIndustria; let j=index">
                                                {{item.cate_idustria_nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                        <mat-error>Campo requerido!</mat-error>
                                    </mat-form-field>
                                </div>

                                <div>  
                                    <mat-form-field appearance="outline" fxFlex="50">
                                        <mat-label>Número de Colaboradores</mat-label>
                                        <mat-select required [(ngModel)]="configure.empresa_numempl">
                                            <mat-option [value]="item.pk_parametros" *ngFor="let item of listaNumEmpleados; let j=index">
                                                {{item.parametros_valor.valor}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                        <mat-error>Campo requerido!</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="50">
                                        <mat-label>¿Porque necesitas una tienda Ecommerce?</mat-label>
                                        <mat-select required [(ngModel)]="configure.empresa_razon">
                                            <mat-option [value]="item.pk_parametros" *ngFor="let item of listaRazones; let j=index">
                                                {{item.parametros_valor.valor}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                        <mat-error>Campo requerido!</mat-error>
                                    </mat-form-field>  
                                </div>
                        
                             <button (click)="tabGroup.selectedIndex=1" type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Siguiente">
                                  Siguiente
                              </button>
                            
                        </div>
                    </mat-tab>

                    <mat-tab label="Ubicación">
                        <div class="tab-content p-24">
                            <div>
                                <mat-form-field class="example-full-width" fxFlex="50" class="pr-4">
                                    <input type="text"
                                           placeholder="Pais"
                                           aria-label="Number"
                                           matInput
                                           [formControl]="controlPaises"
                                           [matAutocomplete]="autop"
                                           [(ngModel)]="configure.pais">
                                    <mat-autocomplete autoActiveFirstOption #autop="matAutocomplete"  [displayWith]="displayPais.bind(this)" (optionSelected)="changeGeografia('pr',$event.option.value)">
                                        <mat-option *ngFor="let option of filteredPais | async" [value]="option.pk_geografia">
                                          {{option.geografia_descri}}                 
                                      </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" fxFlex="50" class="pr-4">
                                    <input type="text"
                                           placeholder="Provincia"
                                           aria-label="Number"
                                           matInput
                                           [formControl]="controlProvincias"
                                           [matAutocomplete]="autopr"
                                           [(ngModel)]="configure.provincia">
                                    <mat-autocomplete autoActiveFirstOption #autopr="matAutocomplete"  [displayWith]="displayProvincia.bind(this)" (optionSelected)="changeGeografia('c',$event.option.value)">
                                        <mat-option *ngFor="let option of filteredProvincia | async" [value]="option.pk_geografia">
                                          {{option.geografia_descri}}                 
                                      </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="example-full-width" fxFlex="50" class="pr-4">
                                    <input type="text"
                                           placeholder="Ciudad"
                                           aria-label="Number"
                                           matInput
                                           [formControl]="controlCiudades"
                                           [matAutocomplete]="autoc"
                                           [(ngModel)]="configure.fk_geografia">
                                    <mat-autocomplete autoActiveFirstOption #autoc="matAutocomplete"  [displayWith]="displayCiudad.bind(this)">
                                        <mat-option *ngFor="let option of filteredCiudad | async" [value]="option.pk_geografia">
                                          {{option.geografia_descri}}                 
                                      </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Dirección</mat-label>
                                    <input matInput name="direccion" required [(ngModel)]="configure.empresa_direccion">
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error>La dirección es requerido</mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Código Postal</mat-label>
                                    <input matInput name="postal" [(ngModel)]="configure.empresa_postal">
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Telefóno Celular</mat-label>
                                    <input matInput name="celular" [(ngModel)]="configure.user_celular">
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                </mat-form-field>
                            </div>
                                                    
                            <button (click)="tabGroup.selectedIndex=2" type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Siguiente">
                                Siguiente
                            </button>
                        </div>
                    </mat-tab>

                    <mat-tab label="Datos Personales">
                        <div class="tab-content p-24">
                            <div>
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Nombre Completos</mat-label>
                                    <input matInput name="nombres" [(ngModel)]="configure.user_nombres">
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Sexo</mat-label>
                                    <mat-select required [(ngModel)]="configure.user_sexo">
                                        <mat-option [value]="1">
                                            Masculino
                                        </mat-option>
                                        <mat-option [value]="2">
                                            Femenino
                                        </mat-option>
                                        <mat-option [value]="3">
                                            Prefiero no decirlo
                                        </mat-option>
                                        <mat-option [value]="4">
                                            Otro
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Campo requerido!</mat-error>
                                </mat-form-field>
                            </div>
                            <button (click)="finalizarSetup()" type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Configurar Tienda" *ngIf="!loading">
                                Configurar Tienda
                            </button>
                            <div class="loader" *ngIf="loading"></div>
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>