.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


.btn{
  background-color: #039be5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-big{
  padding: 10px 22px;
}

.btn-small{
  padding: 5px 22px;
}


.btn:hover{
  background-color: #058ACA;
}

.modal-inventario{
  height: 84vh;
  max-height: 84vh;
}

.estilotextarea {
  width:400px;
  height:100px;
  border: 1px solid #D3DBDF;
  resize: none;
}

table{
  width: 100%;
}

table input{
  border: 1px solid #d5d5d5;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

/*.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}*/

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.total-table{
  font-size: 16px;
}

.tot-title{
  font-weight: 600;
}